@tailwind base;
@tailwind components;
@tailwind utilities;

/* 保持你的數字輸入框隱藏箭頭功能 */
.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-spinner {
  -moz-appearance: textfield;
}
